@font-face {
  font-family: "Roboto-Thin";
  src: url(../fonts/Roboto-Thin.ttf) format("truetype");
  font-weight: 100;
}

@font-face {
  font-family: "Roboto-Thin-Italic";
  src: url(../fonts/Roboto-ThinItalic.ttf) format("truetype");
  font-weight: 100;
}

@font-face {
  font-family: "Roboto-Light";
  src: url(../fonts/Roboto-Light.ttf) format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "Roboto-Light-Italic";
  src: url(../fonts/Roboto-LightItalic.ttf) format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "Roboto-Regular";
  src: url(../fonts/Roboto-Regular.ttf) format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Roboto-Regular-Italic";
  src: url(../fonts/Roboto-Italic.ttf) format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Roboto-Medium";
  src: url(../fonts/Roboto-Medium.ttf) format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Roboto-Medium-Italic";
  src: url(../fonts/Roboto-MediumItalic.ttf) format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Roboto-Bold";
  src: url(../fonts/Roboto-Bold.ttf) format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "Roboto-Bold-Italic";
  src: url(../fonts/Roboto-BoldItalic.ttf) format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "Roboto-Black";
  src: url(../fonts/Roboto-Black.ttf) format("truetype");
  font-weight: 900;
}

@font-face {
  font-family: "Roboto-Black-Italic";
  src: url(../fonts/Roboto-BlackItalic.ttf) format("truetype");
  font-weight: 900;
}

/* global style */
:root {
  --active-color: #3882f6;
  --background-color-light: #e5e7eb;
  --background-color-dark: #1f2937;
  --header-color: #f9faf8;
  --text-color-light: #e5e7eb;
  --text-color-dark: #1f2937;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

ul {
  list-style: none;
}

/* styles for all pages*/
.container {
  margin: 0 auto;
  max-width: 480px;
}

.section {
  display: flex;
  justify-content: center;
  padding: 30px 0;
}

.img-placeholder {
  background: url(../images/placeholder.jpg);
  background-position: center;
  background-repeat: no-repeat;
  border: 10px solid var(--background-color-light);
  border-radius: 10px;
}

@media (min-width: 768px) {
  .container {
    max-width: 738px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }

  .section {
    padding: 60px 0;
  }
}

/* Header */
.header {
  background-color: var(--background-color-dark);
}

.container--header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 10px;
}

.logo {
  font-family: "Roboto-Bold", sans-serif;
  font-size: 1.125rem;
  color: var(--header-color);
}

.logo__accent {
  color: var(--active-color);
}

.nav__links {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.nav__link {
  font-family: "Roboto-Regular", sans-serif;
  font-size: 0.75rem;
  color: var(--text-color-light);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__link:hover,
.nav__link:focus {
  color: var(--active-color);
  font-weight: bolder;
}

@media (min-width: 768px) {
  .container--header {
    padding: 15px;
  }

  .logo {
    font-size: 1.5rem;
  }

  .nav__links {
    gap: 15px;
  }

  .nav__link {
    font-size: 1.125rem;
  }
}

@media (min-width: 1200px) {
  .container--header {
    padding: 20px;
  }

  .nav__links {
    gap: 25px;
  }
}

/* 1st section of the main page */
.column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero {
  background-color: var(--background-color-dark);
  color: var(--text-color-light);
  text-align: center;
}

.hero-title {
  font-family: "Roboto-Black", sans-serif;
  font-size: 1.8rem;
}

.hero-text {
  font-family: "Roboto-Regular", sans-serif;
  font-size: 0.9rem;
  margin-top: 5px;
}

.hero-btn {
  padding: 8px 15px;
  font-size: 1rem;
  margin-top: 10px;
  border-radius: 5px;
  background-color: var(--active-color);
  color: var(--text-color-light);
  font-family: "Roboto-Bold", sans-serif;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:focus,
.hero-btn:hover {
  background-color: var(--background-color-light);
  color: var(--active-color);
 }

.hero-img {
  max-width: 70%;
  height: auto;
  border-radius: 20px;
  margin-top: 15px;
}

@media (min-width: 768px) {
  .hero-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3%;
  }

  .hero-title {
    font-size: 2rem;
    margin-bottom: 5px;
  }

  .hero-text {
    font-size: 1.1rem;
  }

  .hero-btn {
    padding: 10px 20px;
    font-size: 1.3rem;
    margin-top: 15px;
  }

  .hero-img {
    max-width: 48%;
    margin-top: 0;
  }
}

@media (min-width: 1200px) {
  .hero-container {
    gap: 5%;
  }

  .hero-title {
    font-size: 2.5rem;
    margin-bottom: 10px;
  }

  .hero-text {
    font-size: 1.2rem;
  }

  .hero-btn {
    font-size: 1.5rem;
    margin-top: 20px;
  }

  .hero-img {
    max-width: 35%;
  }
}

/* 2nd section of the main page */
.course-offer__container {
  margin: 0 10px;
}

.course-offer__header {
  display: none;
}

.offer {
  padding: 10px;
}

.offer__item {
  text-align: center;
}

.offer__item:not(:last-child) {
  margin-bottom: 40px;
}

.offer__img {
  max-width: 100%;
  min-width: 200px;
  height: auto;
  min-height: 250px;
  border: 10px solid var(--active-color);
  border-radius: 10px;
  margin-bottom: 5px;
}

.offer__text-container {
  background-color: var(--background-color-light);
  border-radius: 10px;
  max-width: 100%;
  padding: 8px 0;
}

.offer__text {
  font-family: "Roboto-Bold", sans-serif;
  font-size: 1.2rem;
  color: var(--text-color-dark);
}

.offer__advert {
  font-family: "Roboto-Regular", sans-serif;
  font-size: 1rem;
  color: var(--text-color-dark);
  margin-top: 5px;
}

@media (min-width: 768px) {
  .offer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 0;
    gap: 20px 0;
  }

  .offer__item {
    max-width: 40%;
  }

  .offer__item:not(:last-child) {
    margin-bottom: 10px;
  }

  .offer__img {
    min-height: 203px;
  }

  .offer__text {
    font-size: 1rem;
  }
}

@media (min-width: 1200px) {
  .offer {
    display: flex;
  }

  .offer__item {
    max-width: 23%;
  }

  .offer__img {
    min-height: 186px;
  }
}

/* 3rd section of the main page */
.section--quote {
  background-color: var(--background-color-light);
}

.quote__header {
  display: none;
}

.quote-block {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0 15px;
}

.quote-block__text {
  font-family: "Roboto-Light-Italic", sans-serif;
  font-size: 1.2rem;
  color: var(--text-color-dark);
  align-self: stretch;
}

.quote-block__footer {
  font-family: "Roboto-Regular", sans-serif;
  font-size: 0.8rem;
  color: var(--text-color-dark);
  align-self: flex-end;
  margin-top: 5px;
  padding-right: 15px;
}

@media (min-width: 768px) {
  .quote-block__text {
    font-size: 1.5rem;
  }

  .quote-block__footer {
    font-size: 1rem;
  }
}

@media (min-width: 1200px) {
  .quote-block__text {
    font-size: 2rem;
  }

  .quote-block__footer {
    font-size: 1.2rem;
  }
}

/* 4th section of the main page */
.section-sign-up {
  margin: 0 15px;
}

.signup__container {
  font-family: "Roboto-Regular", sans-serif;
  background-color: var(--active-color);
  padding: 30px;
  width: 840px;
  margin: 0 auto;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: var(--text-color-light);
}

.signup__header {
  margin-bottom: 5px;
}

.signup__btn {
  padding:  10px 20px 10px 20px;
  border-radius: 5px;
  background-color: transparent;
  color: var(--text-color-light);
  border-color: var(--text-color-light);
  font-family: "Roboto-Bold", sans-serif;
  font-size: 1.125rem;
}

/*Mobile view*/
@media (max-width: 768px) {
  .signup__container {
    width: 100%;
    padding: 20px 10px;
    text-align: center;
  }

  .signup__btn {
    margin-top: 10px;
  }
}


@media (min-width: 768px) {
  .signup__container {
    flex-direction: row;
    gap: 10%;
    justify-content: center;
  }

  .signup__btn {
    margin-top: 0;
  }
}

/*Footer*/
.footer {
  background-color: var(--background-color-dark);
  margin-top: auto;
}

.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}

.copyright__text {
  font-family: "Roboto-Regular", sans-serif;
  font-size: 0.75rem;
  color: var(--text-color-light);
}

.scroll-to-top {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 1;
  width: 40px;
  height: 40px;
  text-align: center;
  background-color: var(--background-color-light);
  border: 3px solid var(--active-color);
  border-radius: 50px;
  margin: 0 15px 15px 0;
  padding: 4px 0;
  transition: background-color 0.3s;
}

.scroll-to-top:focus,
.scroll-to-top:hover {
  cursor: pointer;
  background-color: var(--active-color);
  border: 3px solid var(--background-color-dark);
}

.scroll-to-top__icon {
  width: 30px;
  height: 25px;
  fill: var(--text-color-dark);
}

@media (min-width: 768px) {
  .copyright {
    padding: 15px 0;
  }

  .copyright__text {
    font-size: 1.125rem;
  }

  .scroll-to-top {
    margin: 0 20px 25px 0;
  }
}

@media (min-width: 1200px) {
  .copyright {
    padding: 20px 0;
  }

  .scroll-to-top {
    margin: 0 25px 35px 0;
  }
}

/* 1st subpage - About Us */
.about-section {
  padding-top: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 60px;
}

.image__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-title {
  font-family: "Roboto-Black", sans-serif;
  font-size: 3rem;
  color: var(--text-color-dark);
  margin-bottom: 5px;
  text-align: center;
}

.about-text {
  font-family: "Roboto-Regular", sans-serif;
  font-size: 0.75rem;
  color: var(--text-color-dark);
  text-align: justify;
  margin-right: 5%;
  padding-top: 1.5%;
  line-height: 1.5;
  font-size: 1.5rem;
}

.about-img {
  border-radius: 20px;
  max-width: 100%;
  margin: 0 15px;
}

/*Mobile view*/
@media (max-width: 768px) {
  .about-section {
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
  }

  .about-container {
    margin: 0;
    padding: 10px;
  }

  .about-title {
    font-size: 1.5rem;
  }

  .about-text {
    font-size: 1rem;
  }

  .about-img {
    border-radius: 20px 20px 0 0;
    margin: 0 15px;
  }
}
/*Tablet view*/
@media (min-width: 768px) {
  .about-section {
    margin: 0;
  }

  .about-container {
    padding: 0 20px;
    margin: 0;
  }
  .about-title {
    font-size: 2.5rem;
  }

  .about-text {
    font-size: 1.5rem;
  }
  .about-img {
    border-radius: 10px;
    margin: 0;
  }
}

/* 2nd subpage - Our Course */
.course {
  padding: 0 10px;
}

.course__header {
  font-family: "Roboto-Black", sans-serif;
  font-size: 1.5rem;
  color: var(--text-color-dark);
  margin-top: 5px;
  margin-bottom: 10px;
  text-align: center;
}

.course {
  padding: 0 10px;
  display: flex;
}

.course__text {
  font-family: "Roboto-Regular", sans-serif;
  font-size: 0.75rem;
  color: var(--text-color-dark);
  text-align: center;
  margin-right: 5%;
  padding-top: 1.5%;
}

.course__img-description {
  max-width: 50%;
  height: auto;
}

.section--course-info {
  background-color: var(--background-color-light);
}

.info-container {
  padding: 0 20px;
}

.info-container__header {
  display: none;
}

.course-info__item:not(:last-child) {
  margin-bottom: 15px;
}

.course-info__question {
  font-family: "Roboto-Bold", sans-serif;
  font-size: 0.9rem;
  color: var(--text-color-dark);
  margin-bottom: 5px;
}

.course-info__text {
  font-family: "Roboto-Regular", sans-serif;
  font-size: 0.75rem;
  color: var(--text-color-dark);
  text-align: justify;
}

.benefits-container {
  display: flex;
  justify-content: space-evenly;
  padding: 0 10px;
}

.benefits-img {
  max-width: 30%;
}

.benefits-box {
  margin-left: 2%;
}

.benefits-box__header {
  font-family: "Roboto-Bold", sans-serif;
  font-size: 1.2rem;
  color: var(--text-color-light);
  margin-bottom: 5px;
  text-align: start;
  background-color: var(--active-color);
  padding: 4px 10px;
  border-radius: 5px;
}

.benefits {
  padding-left: 10px;
}

.benefits__text {
  font-family: "Roboto-Regular", sans-serif;
  font-size: 0.75rem;
  color: var(--text-color-dark);
}

.tick-icon {
  fill: var(--text-color-dark);
}

@media (min-width: 768px) {
  .course {
    padding: 0;
  }

  .course__header {
    font-size: 2rem;
    margin-top: 10px;
    margin-bottom: 15px;
  }

  .course__text {
    font-size: 1rem;
  }

  .course-info__item:not(:last-child) {
    margin-bottom: 20px;
  }

  .course-info__question {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }

  .course-info__text {
    font-size: 1rem;
  }

  .benefits-container {
    padding: 0;
  }

  .benefits-box__header {
    font-size: 1.5rem;
    margin-bottom: 15px;
    padding: 7px 25px;
  }

  .benefits {
    padding-left: 15px;
  }

  .benefits__item:not(:last-child) {
    margin-bottom: 15px;
  }

  .benefits__text {
    font-size: 1rem;
  }
}

@media (min-width: 1200px) {
  .course__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .course__header {
    font-size: 2.5rem;
    margin-top: 0;
  }

  .course__text {
    font-size: 1.5rem;
  }

  .course-info__item:not(:last-child) {
    margin-bottom: 30px;
  }

  .course-info__question {
    font-size: 1.8rem;
    margin-bottom: 15px;
  }

  .course-info__text {
    font-size: 1.5rem;
  }

  .benefits-box__header {
    font-size: 1.8rem;
    margin-top: 10px;
    margin-bottom: 35px;
    padding: 12px 45px;
  }

  .benefits {
    padding-left: 20px;
  }

   .benefits__item:not(:last-child) {
    margin-bottom: 25px;
  }

  .benefits__text {
    font-size: 1.5rem;
  }
}


/* 3rd subpage Reviews*/
#reviews{
  display: flex;
    justify-content : center;
    flex-wrap: wrap;
}

.reviewTitle {
  font-family: "Roboto-Black", sans-serif;
  font-size: 2.25rem;
  margin-bottom: 10px;
}

.reviewHeader {
  display: none;
}

.reviewTextIntro {
  font-family: "Roboto-Regular", sans-serif;
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.125rem;
  margin-top: 10px;
  padding-left: 12vw;
  padding-right: 12vw;
}

.reviewCard {
  font-family: "Roboto-Regular", sans-serif;
  width: 60vw;
  margin-bottom: 60px;
  margin-left: 20vw;
  margin-top: 2vh;
  padding: 15px;
  border-radius: 50px;
  background-color: #E5E7EB;
  display: flex;    
}

.profileImg{
  width: 120px;
  height: 120px;
  border-radius: 120px;
  padding: 15px;  
}

.reviewText{
  display: flex;
  flex-direction: column;
  font-style: italic;
  color: #1f2937;  
}

.reviewText p{
  margin-top: 30px;
}

.reviewStar{
  width: 30px;
}

.stars{
  margin-right: 25px;
  margin-top: 30px;
  text-align: right;
}

@media (max-width: 768px) {
  .reviewCard{
    width: 80vw;
    margin-left: 10vw;
  }
  .reviewTextIntro{
    padding-left: 7vw;
    padding-right: 7vw;
    text-align: center;
  }
  .reviewStar{
    width: 20px;
  }
}
