@font-face {
  font-family: "Roboto-Thin";
  src: url(../fonts/Roboto-Thin.ttf) format("truetype");
  font-weight: 100;
}

@font-face {
  font-family: "Roboto-Thin-Italic";
  src: url(../fonts/Roboto-ThinItalic.ttf) format("truetype");
  font-weight: 100;
}

@font-face {
  font-family: "Roboto-Light";
  src: url(../fonts/Roboto-Light.ttf) format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "Roboto-Light-Italic";
  src: url(../fonts/Roboto-LightItalic.ttf) format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "Roboto-Regular";
  src: url(../fonts/Roboto-Regular.ttf) format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Roboto-Regular-Italic";
  src: url(../fonts/Roboto-Italic.ttf) format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Roboto-Medium";
  src: url(../fonts/Roboto-Medium.ttf) format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Roboto-Medium-Italic";
  src: url(../fonts/Roboto-MediumItalic.ttf) format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Roboto-Bold";
  src: url(../fonts/Roboto-Bold.ttf) format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "Roboto-Bold-Italic";
  src: url(../fonts/Roboto-BoldItalic.ttf) format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "Roboto-Black";
  src: url(../fonts/Roboto-Black.ttf) format("truetype");
  font-weight: 900;
}

@font-face {
  font-family: "Roboto-Black-Italic";
  src: url(../fonts/Roboto-BlackItalic.ttf) format("truetype");
  font-weight: 900;
}

/* global style */
:root {
  --active-color: #3882f6;
  --background-color-light: #e5e7eb;
  --background-color-dark: #1f2937;
  --header-color: #f9faf8;
  --text-color-light: #e5e7eb;
  --text-color-dark: #1f2937;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

a {
  outline: none;
}

ul {
  list-style: none;
}

/* styles for all pages*/
.container {
  margin: 0 auto;
  max-width: 480px;
}

.section {
  display: flex;
  justify-content: center;
  padding: 30px 0;
}

@media (min-width: 768px) {
  .container {
    max-width: 738px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }

  .section {
    padding: 60px 0;
  }
}

/* Header */
.header {
  background-color: var(--background-color-dark);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 10px;
}

.header-logo {
  font-family: "Roboto-Bold", sans-serif;
  font-size: 1.125rem;
  color: var(--header-color);
}

.header-nav {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.header-nav-link {
  font-family: "Roboto-Regular", sans-serif;
  font-size: 0.75rem;
  color: var(--text-color-light);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-nav-link:hover,
.header-nav-link:focus {
  color: var(--active-color);
  font-weight: bolder;
}

.logo-accent {
  color: var(--active-color);
}

@media (min-width: 768px) {
  .header-container {
    padding: 15px;
  }

  .header-logo {
    font-size: 1.5rem;
  }

  .header-nav {
    gap: 15px;
  }

  .header-nav-link {
    font-size: 1.125rem;
  }
}

@media (min-width: 1200px) {
  .header-container {
    padding: 20px;
  }

  .header-nav {
    gap: 25px;
  }
}

/* 1st section of the main page */

.hero {
  background-color: var(--background-color-dark);
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  color: var(--text-color-light);
  padding: 40px;
  margin-bottom: 20px;
}

.hero-container  {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

.image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-title {
  font-family: "Roboto-Black", sans-serif;
  font-size: 2.25rem;
  margin-bottom: 10px;
}

.hero-text {
  font-family: "Roboto-Regular", sans-serif;
  margin-bottom: 20px;
  font-size: 1.125rem;
  margin-top: 10px;
  text-align: center;
}

.hero-img {
  width: 400px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.hero-btn {
 padding: 10px 20px;
  border-radius: 5px;
  background-color: var(--active-color);
  color: var(--text-color-light);
  font-family: "Roboto-Bold", sans-serif;
  font-size: 1.125rem;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
 
/*Mobile view*/
@media (max-width: 768px) {
  .hero {
    grid-template-columns: 1fr;
    padding: 40px;
  }

  .hero-title {
    font-size: 1.5rem;
  }

  .hero-text {
    font-size: 1rem;
  }

  .hero-img {
    width: 300px;
  }

  .hero-btn {
    padding: 8px 15px;
    font-size: 1rem;
    margin-bottom: 20px;
  }
}

/*Tablet view*/
@media (min-width: 768px) {
  .hero {
    padding: 40px;
  }

  .hero-title {
    font-size: 2.5rem;
  }

  .hero-text {
    font-size: 1.5rem;
  }

  .hero-img {
    width: 500px;
  }

  .hero-btn {
    padding: 10px 20px;
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
}


/* 2nd section of the main page */
.section-offer {
  padding-top: 0;
}

.course-offer-header {
  display: none;
}

.course-offer-list {
  padding: 10px;
}

.course-offer {
  text-align: center;
}

.course-offer:not(:last-child) {
  margin-bottom: 40px;
}

.course-offer-item {
  font-family: "Roboto-Bold", sans-serif;
  font-size: 1.2rem;
  color: var(--text-color-dark);
}

.link-container {
  background-color: var(--background-color-light);
  border-radius: 10px;
  max-width: 100%;
  padding: 2px 0;
}

.course-offer-text {
  font-family: "Roboto-Regular", sans-serif;
  font-size: 1rem;
  color: var(--text-color-dark);
  margin-top: 5px;
}

.course-offer-img {
  max-width: 100%;
  height: auto;
  border: 10px solid var(--background-color-light);
  border-radius: 10px;
  margin-bottom: 5px;
}

@media (min-width: 768px) {
  .course-offer-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 0;
    gap: 20px 0;
  }

  .course-offer {
    max-width: 40%;
  }

  .course-offer:not(:last-child) {
    margin-bottom: 10px;
  }

  .link-container {
    padding: 0;
  }

  .course-offer-item {
    font-size: 1rem;
  }
}

@media (min-width: 1200px) {
  .course-offer-list {
    display: flex;
  }

  .course-offer {
    max-width: 23%;
  }
}

/* 3rd section of the main page */
.inspirational-header {
  display: none;
}

.quote-section {
  background-color: var(--background-color-light);
}

.quote-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0 15px;
}

.quote-text {
  font-family: "Roboto-Light-Italic", sans-serif;
  font-size: 1.2rem;
  color: var(--text-color-dark);
  align-self: stretch;
}

.quote-footer {
  font-family: "Roboto-Regular", sans-serif;
  font-size: 0.8rem;
  color: var(--text-color-dark);
  align-self: flex-end;
  margin-top: 5px;
}

@media (min-width: 768px) {
  .quote-container {
    padding: 0;
  }

  .quote-text {
    font-size: 1.5rem;
  }

  .quote-footer {
    font-size: 1rem;
  }
}

@media (min-width: 1200px) {
  .quote-text {
    font-size: 2rem;
  }

  .quote-footer {
    font-size:1.2rem;
  }
}

/* 4th section of the main page */


/*Footer*/
.footer {
  background-color: var(--background-color-dark);
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}

.footer-text {
  font-family: "Roboto-Regular", sans-serif;
  font-size: 0.75rem;
  color: var(--text-color-light);
}

@media (min-width: 768px) {
  .footer-container {
    padding: 15px 0;
  }

 .footer-text {
    font-size: 1.125rem;
  }
}

@media (min-width: 1200px) {
  .footer-container {
    padding: 20px 0;
  }
}

/* 1st subpage - About Us */
.about-section {
padding-top: 40px;
}
.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  padding-top: 20px;
}

.about-title {
  font-family: "Roboto-Black", sans-serif;
  font-size: 3rem;
  color: var(--text-color-dark);
  margin-bottom: 10px;
  text-align: center;
} 
 
.about-text {
  font-family: "Roboto-Regular", sans-serif;
  font-size: 0.75rem;
  color: var(--text-color-dark);
  text-align: justify;
  margin-right: 5%;
  padding-top: 1.5%;
  line-height: 1.5;
  font-size: 1.5rem;;
}

.about-img {
  width: 600px;
  height: auto;
  border-radius: 10px;
  margin-bottom: 5px;
  padding-right: 10px;
}

.about-container {
  padding: 0 10px;
}

/* 2nd subpage - Our Course */
.main-course-container {
  padding: 0 10px;
}

.course-container {
  padding: 0 10px;
  display: flex;
  align-items: stretch;
}

.course-header {
  font-family: "Roboto-Black", sans-serif;
  font-size: 1.5rem;
  color: var(--text-color-dark);
  margin-bottom: 10px;
  text-align: center;
}

.course-text {
  font-family: "Roboto-Regular", sans-serif;
  font-size: 0.75rem;
  color: var(--text-color-dark);
  text-align: start;
  margin-right: 5%;
  padding-top: 1.5%;
}

.course-img-woman {
  max-width: 50%;
  height: auto;
}

.course-info-section {
  background-color: var(--background-color-light);
}

.course-info-container {
  padding: 0 20px;
}

.course-info-header {
  display: none;
}

.info-text {
  font-family: "Roboto-Regular", sans-serif;
  font-size: 0.75rem;
  color: var(--text-color-dark);
  text-align: justify;
}

.course-info-item:not(:last-child) {
  margin-bottom: 15px;
}

.question-text {
  font-family: "Roboto-Bold", sans-serif;
  font-size: 0.9rem;
  color: var(--text-color-dark);
  margin-bottom: 5px;
}

.course-benefits-container {
  display: flex;
  justify-content: space-evenly;
  padding: 0 10px;
}

.benefits-container {
  margin-left: 2%;
}

.benefits-header {
  font-family: "Roboto-Bold", sans-serif;
  font-size: 1.2rem;
  color: var(--text-color-light);
  margin-bottom: 10px;
  text-align: start;
  background-color: var(--active-color);
  padding: 4px 10px;
  border-radius: 5px;
}

.benefits-list {
  padding-left: 10px;
}

.benefit-text {
  font-family: "Roboto-Regular", sans-serif;
  font-size: 0.75rem;
  color: var(--text-color-dark);
}

.tick-icon {
  fill: var(--text-color-dark);
}

.course-img-man {
  max-width: 30%;
}

@media (min-width: 768px) {
  .main-course-container {
    padding: 0;
  }

  .course-header {
    font-size: 2rem;
  }

  .course-text {
    font-size: 1rem;
  }

  .course-info-item:not(:last-child) {
    margin-bottom: 20px;
  }

  .question-text {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }

  .info-text {
    font-size: 1rem;
  }

  .course-benefits-container {
    padding: 0;
  }

  .benefits-header {
     font-size: 1.5rem;
     padding: 7px 25px;
  }

  .benefits-list {
    padding-left: 15px;
  }

  .benefit-text {
    font-size: 1rem;
  }
}

@media (min-width: 1200px) {
  .course-header {
    font-size: 2.5rem;
  }

  .course-text {
    font-size: 1.5rem;
  }

  .course-info-item:not(:last-child) {
    margin-bottom: 30px;
  }

  .question-text {
    font-size: 1.8rem;
    margin-bottom: 15px;
  }

  .info-text {
    font-size: 1.5rem;
  }

  .benefits-header {
     font-size: 1.8rem;
     padding: 12px 45px;
  }

  .benefits-list {
    padding-left: 20px;
  }

  .benefit-text {
    font-size: 1.5rem;
  }
}

/* 3rd subpage */

